@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Press Start 2P", sans-serif;
  min-height: 100svh;
  color: #eee;
  background-color: #222;
  /* background-color: #60b347; */
  // overflow: hidden;
}
@media screen and (min-width: 1024px) {
  body {
    width: 50%;
    margin: 0 auto;
  }
}
